body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;

}

h1{
    color: #333;

}

li{
    background: white;
    margin:10px;
    padding:10px;
    list-style:none;
}